{% extends 'blueprints/layout.html' %}
{% load static %}


{% block title %}
    {{current_category.name}}
{% endblock title %}


{% block tagline %}
    {{current_category.name}}
{% endblock tagline %}
    
    

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 p-3">
            <div class="container">
                <div class="row">
                {% for product in object_list %}
                <div class="col-md-3 pt-2">
                    <div class="card h-100 shadow position-relative" data-aos="zoom-in"
                    data-aos-easing="linear">
                        <img src="{% static 'media/example/1.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{product.product_name}}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div>Stock : </div>
                                <span class="text-success">{{product.product_stock}}</span>
                            </li>
                            <li class="list-group-item">
                                <div>Price : </div>
                                <span class="text-success"> <span class="fas fa-dollar-sign"></span>{{product.product_price}}</span>
                            </li>
                        </ul>
                        <div class="card-footer d-flex justify-content-center align-items-center">
                            <div>
                                <a href="{% url 'products:product_detail' pk=product.id slug=product.product_slugify %}" class="btn btn-sm btn-outline-success"><span class="fas fa-eye"></span> View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
            <div class="justify-content-center align-items-center p-3 mt-3 w-100 d-flex">
                <div class="pagination shadow">
                    <div class="page-item {% if page_obj.has_previous == False %}disabled{% endif %}"><a href="{% if page_obj.has_previous == True %}{% url 'products:category_detail_with_products' pk=current_category.pk slug=current_category.slug %}?page={{page_obj.previous_page_number}}{% endif %}" class="page-link"><span class="fas fa-angle-double-left"></span></a></div>
                    <div class="page-item disabled"><a href="" class="page-link">{{page_obj}}</a></div>
                    <div class="page-item {% if page_obj.has_next == False %}disabled{% endif %}"><a href="{% if page_obj.has_next == True %}{% url 'products:category_detail_with_products' pk=current_category.pk slug=current_category.slug %}?page={{page_obj.next_page_number}}{% endif %}" class="page-link"><span class="fas fa-angle-double-right"></span></a></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 p-3">
            <div class="card text-dark bg-light">
                <div class="card-body">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="flex-fill">
                            <span class="fas fa-tags"></span>
                        </div>
                        <div>
                            <h6>Category</h6>
                        </div>
                    </div>
                    <hr>
                    <div class="list-group list-group-flush bg-light">
                        {% for cat in categories %}
                        <a class="list-group-item" href="{% url 'products:category_detail_with_products' pk=cat.pk slug=cat.slug %}" %}"><span class="fas fa-tag"></span> {{cat.name}}</a>
                        {% endfor %}
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    
