{% extends 'blueprints/layout.html' %}
{% load static %}
{% block title %}
{{object.product_name|title}}
{% endblock title %}

{% block tagline %}
{{object.product_name|title}}
{% endblock tagline %}

{% block content %}
<div class="d-flex mt-3">
    <div class="p-2 w-25" data-aos="zoom-in">
        <div class="card text-dark bg-light">
            <div class="card-body">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="flex-fill">
                        <span class="fas fa-file-alt"></span>
                    </div>
                    <div>
                        <h6>Product Detail</h6>
                    </div>
                </div>
                <hr>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Price</th>
                            <td> : </td>
                            <td class="text-success"> <span class="fas fa-dollar-sign"></span>{{object.product_price}}</td>
                        </tr>
                        <tr>
                            <th>Available</th>
                            <td> : </td>
                            <td class="{% if object.product_stock > 10 %}text-success{% else %}text-danger{% endif %}">{{object.product_stock}}</td>
                        </tr>
                        <tr>
                            <th>Created</th>
                            <td> : </td>
                            <td>{{object.product_created}}</td>
                        </tr>
                        <tr>
                            <th>Updated</th>
                            <td> : </td>
                            <td>{{object.product_updated}}</td>
                        </tr>
                        <tr>
                            <th>Rating</th>
                            <td> : </td>
                            <td>{% for i in range %} {{i}} {% if i < object.product_range.index %} <span class="fas fa-star text-warning"></span> {%endif%}{%endfor%}</td>
                        </tr>
                    </tbody>
                </table>
            </div>    
        </div>
    </div>
    <div class="p-2 flex-fill" data-aos="zoom-in">
        <div class="card text-dark bg-light">
            <div class="card-body p-0" style="height: 20rem;">
                <div id="carouselExampleIndicators" class="carousel slide h-100" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner h-100">
                      <div class="carousel-item active h-100" style="background-repeat: no-repeat; background-size: cover;background-image: url({% static 'media/example/1.jpg' %});">
                        <div class="carousel-caption d-none d-md-block bg-dark" style="opacity: 0.8;">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item h-100" style="background-repeat: no-repeat; background-size: cover;background-image: url({% static 'media/example/2.jpg' %});">
                        <div class="carousel-caption d-none d-md-block bg-dark" style="opacity: 0.8;">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item h-100" style="background-repeat: no-repeat; background-size: cover;background-image: url({% static 'media/example/3.jpg' %});">
                        <div class="carousel-caption d-none d-md-block bg-dark" style="opacity: 0.8;">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>    
        </div>
        <div class="card mt-2 shadow" data-aos="zoom-in">
            <h4 class="m-1">Description : </h4>
            <div class="card-body">
                {{object.product_description}}
            </div>
            <div class="card-footer p-0" align="center">
                <div class="row align-items-center w-100" style="height: 3rem;">
                    <div class="col">
                        <a href="#" class="w-100 text-decoration-none text-dark"><span class="fas fa-star text-warning shadow"></span> 
                            Add To Favorit</a>
                    </div>
                    <div class="col">
                        <a href="#" class="w-100 text-decoration-none text-dark"><span class="fas fa-cart-plus text-success"></span>
                            Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}